.App {
  text-align: center;
  background: hsl(288, 94%, 13%);
  color: white;
}

.app-title {
  display: flex;
  align-items: center; /* Center the logo and text vertically */
  justify-content: center; /* Center the logo and text horizontally */
  font-size: 2rem; /* Adjust font size for title */
  font-weight: bold; /* Make text bold */
  margin-top: 0;
}

.app-logo {
  height: 50px; /* Set the height of the logo */
  width: 50px; /* Set the width of the logo */
  margin-right: 10px; /* Space between the logo and the text */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#blockchain-select {
  padding: 5px;
  font-size: 16px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .App-logo {
    height: 25vmin; /* Smaller logo size on mobile */
  }

  #blockchain-select {
    font-size: 14px; /* Smaller font size for select input */
    padding: 8px; /* Adjust padding for smaller screens */
  }
}